@page
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/WebApplication17.styles.css" asp-append-version="true" />
<div id="main">
    <input type="text" id="b1" readonly>
   
    <input type="text" id="b2" readonly>
   
    <input type="text" id="b3" readonly>
    <br><br>
   
    <input type="text" id="b4" readonly>
               
    <input type="text" id="b5" readonly>
   
    <input type="text" id="b6" readonly>
    <br><br>
   
    <input type="text" id="b7" readonly>
   
    <input type="text" id="b8" readonly>
   
    <input type="text" id="b9" readonly>
</div>
<p id="playerTurn"></p>
<br />
<p id="playerId"></p>

<input type="button" id="join" value="Join Game" />

<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/js/tictactoe.js"></script>